@import 'nullstyle';

//Переменная color//
$color__1: #15192C;
$color__2: #4B0082;
$color__3: #9400D3;
$color__4: #FF8C00;
$color__5: #00FFFF;
$color__6: #FFFFFF;
$color__7: #000;

//Переменная border-radius//
$border-radius: 50px 0px 50px 0px;

//Переменная text-shadow//
$text-shadow__1: 3px 3px 2px #00FFFF;
$text-shadow__2: 1px 1px 2px #00FFFF;
$text-shadow__3: 1px 1px 3px #15192C;
$text-shadow__4: 3px 3px 2px #9400D3;

//Переменная box-shadow//
$box-shadow__1: 3px 3px 15px 1px #00FFFF;
$box-shadow__2: 3px 3px 15px 1px #9400D3;
$box-shadow__3: 3px 3px 15px 1px #FF8C00;
$box-shadow__4: 3px 3px 20px 5px #00FFFF;
$box-shadow__5: 3px 3px 15px 1px #15192C;

//Шаблон gradient//
%gradient__1 {
	background: rgb(123,1,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(123,1,160,0.5) 0%, rgba(255,183,2,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(123,1,160,0.5) 0%,rgba(255,183,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(123,1,160,0.5) 0%,rgba(255,183,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b01a0', endColorstr='#ffb702',GradientType=0 ); /* IE6-9 */
}
%gradient__2 {
	background: rgb(123,1,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(123,1,160,0.1) 0%, rgba(255,183,2,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(123,1,160,0.1) 0%,rgba(255,183,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(123,1,160,0.1) 0%,rgba(255,183,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b01a0', endColorstr='#ffb702',GradientType=0 ); /* IE6-9 */
}
%gradient__3 {
	background: #febf01; /* Old browsers */
	background: -moz-linear-gradient(top, #febf01 0%, #9201ba 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #febf01 0%,#9201ba 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #febf01 0%,#9201ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf01', endColorstr='#9201ba',GradientType=0 ); /* IE6-9 */;
}


//Теги//
body {
	max-width: 1250px;
	margin: 0 auto;
	color: #FFFFFF;
	text-shadow: 1px 1px 3px #15192C;
	font-family: arial;
	font-weight: 500;
	font-size: 18px;
	text-align: center;
	background: url('../img/360_F_269505479_qX1rCsjKJiwYgtXsay8iGk1ssdBiNBx3.jpg') fixed;
}

h2, h3, h4, h5 {
	padding: 10px;
	font-style: italic;
	border-radius: 50px 0px 50px 0px; 
	background: #15192C;
	box-shadow: 3px 3px 20px 5px #00FFFF;
	font-family: impact;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #00FFFF;
	color: #FF8C00;
	font-weight: 50;
	font-size: 50px;
}

h2:hover, h4:hover, h5:hover {
	text-shadow: 3px 3px 2px #9400D3;
}

h3 {
	margin: 50px 0 20px 0;
	font-style: italic;
	border-radius: 0px 25px 0px 25px; 
	background: #15192C;
	box-shadow: 3px 3px 20px 5px #00FFFF;
	font-family: impact;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px #00FFFF;
	color: #FF8C00;
	font-weight: 50;
	font-size: 50px;
}

img {
	padding: 5px 0 10px 0;
	max-width: 80%;
	border-radius: 50px 0px 50px 0px;
}

textarea{
	max-width: 320px;
}

p{
	padding: 15px;
}


//Классы//
.header__text__block {
	border-radius: 50px 0px 50px 0px;
	box-shadow: 3px 3px 20px 5px #FF8C00;
	background: #4B0082;
	background: url('../img/840465.jpg') 50% /cover fixed no-repeat;
	h1 {
		padding: 20px;
		font-style: italic;
		border-radius: 50px 0px 50px 0px; 
		background: #15192C;
		box-shadow: 3px 3px 20px 5px #00FFFF;
		font-family: impact;
		letter-spacing: 3px;
		text-shadow: 3px 3px 2px #00FFFF;
		color: #FF8C00;
		font-weight: 50;
		font-size: 50px;
		position: relative;
		z-index: 1;
		&:hover {
			text-shadow: 3px 3px 2px #9400D3;
		}
	}
	.link__1 {
		@extend %gradient__3;
		padding: 5px 0 75px 0;
		display: block;
		font-style: italic;
		border-radius: 50px 0px 50px 0px; 
		box-shadow: 3px 3px 20px 5px #15192C;
		font-family: impact;
		letter-spacing: 3px;
		text-shadow: 3px 3px 2px #00FFFF;
		color: #15192C;
		font-weight: 50;
		font-size: 30px;
		position: relative;
		top: 65px;
		bottom: 0;
		z-index: 0;
		&:hover {
			color: #15192C;
			background: #15192C;
			position: relative;
			top: 50px;
			bottom: 0;
			text-shadow: 3px 3px 2px #00FFFF;
			text-decoration: underline;
			box-shadow: 3px 3px 20px 5px #00FFFF;
		}
		&:active {
			background: #4B0082;
			color: #4B0082;
			text-shadow: 3px 3px 2px #FF8C00;
			box-shadow: 3px 3px 20px 5px #FF8C00;
		}
	}
}

.block__1 {
	display: block;
	margin: 35px 0 35px 0;
	div {
		display: inline;
		span {
			font-size: 18px;
			text-shadow: 1px 1px 3px #9400D3;
			color: #15192C;
			border-radius: 15px 0 0 15px;
			background: #FF8C00;
			padding: 5px;
			box-shadow: $box-shadow__5;
			&:after {
				content:' >>>';
			}
		}
	}
	input {
		font-size: 18px;
		color: #FFF;
		background-color: rgba(123,1,160,0.5);
		border: 1px solid #FF8C00;
		border-radius: 0px 15px 15px 0px;
		margin: 25px 25px 25px 0;
		padding: 5px;
		&:focus{
			color: #000;
			background-color: #fff;
		}
		&:nth-child(2):hover {
			color: #000;
			background-color: #fff;
			box-shadow:3px 3px 15px 1px #00FFFF;
		}
		&:nth-child(3):hover {
			color: #000;
			background-color: #fff;
			box-shadow:3px 3px 15px 1px #00FFFF;
		}
		&:nth-child(4):hover {
			color: #000;
			background-color: #fff;
			box-shadow:3px 3px 15px 1px #00FFFF;
		}
	}
}

.block__2 {
	@extend %gradient__2;
	display: inline-block;
	padding: 15px 10px 25px 10px;
	margin: 0 0 35px 0;
	border-radius: 25px;
	box-shadow: 3px 3px 20px 5px #00FFFF;
	>p{
		padding: 10px;
	}
	.img__3 {
		border-radius: 30px;
	}
}

.block__3 {
	@extend %gradient__3;
	border-radius: 25px;
	box-shadow: 3px 3px 20px 5px #00FFFF;
	margin: 0 0 25px 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	padding: 5px 10px 25px 10px;
	p{
		padding: 15px ;
	}
	textarea{
		border-radius: 15px;
		margin: 25px;
		padding: 5px;
		&:hover {
			color: #000;
			background-color: #fff;
			box-shadow:3px 3px 15px 1px #00FFFF;
		}
	}
}

.text__block {
	border-radius: 50px 0px 50px 0px;
	box-shadow: 3px 3px 20px 5px #FF8C00;
	background: #4B0082;
	background: url('../img/840465.jpg') 50% /cover fixed no-repeat;
	.paragraph__bottom {
		border-radius: 50px 0px 50px 0px;
		&:hover {
			background-color: rgba(21, 25, 44, 0.7);
			margin: auto;
			display: block;
			max-width: 200px;
		}
	}
	h2 {
		border-radius: 50px 0px 50px 0px;
		background-color: rgba(21, 25, 44, 0.7);
	}
}


.content__block {
	margin:  25px  0 25px 0;
	.link__2{
		@extend %gradient__1;
		color: #00FFFF;
		font-weight: 700;
		border-radius: 0px 0px 10px 10px;
		padding: 15px 15px 5px 15px;
		text-decoration: none;
		box-shadow: 3px 3px 15px 1px #15192C;
		max-width: 320px;
		&:hover {
			background: #9400D3 ;
			box-shadow: 3px 3px 15px 1px #00FFFF;
		}
		&:active {
			position: relative;
			top: 3px;
			background: #15192C ;
			box-shadow: 3px 3px 15px 1px #FF8C00;
			background: 20px #15192C;
		}
	}
}


.span__1 {
	font-family: impact;
	font-style: italic;
	font-size: 50px
}
.span__2 {
	&:hover {
	color: #00FFFF;
	text-shadow: 1px 2px 3px #15192C;
	font-style: italic;
	}
}
.line {
	color: #00FFFF;
	text-shadow: 1px 2px 3px #00FFFF;
	font-family: calibri;
	padding: 25px;
}
.img__1 {
	max-width: 44%;
}

.img__3 {
	border-radius: 30px;
}

.italic {
	font-style: italic;
	font-size: 20px;
	text-shadow: 1px 1px 2px #9400D3;
	color: #FF8C00;
}

.link__3 {
	.img__2 {
		z-index: 2;
		border-radius: 50%;
		height: 80px;
		margin: 0 0 0 80%;
		padding: 10px;
		position: sticky;
		top: 0px;
		box-shadow: 3px 3px 20px 5px #15192C;
		background: #4B0082;
		&:hover {
			@extend %gradient__3;
			box-shadow: 3px 3px 15px 1px #FF8C00;
		}
		&:active {
			box-shadow: 3px 3px 15px 1px #00FFFF;
	font-family: calibri;
		}
	}
}

.paragraph__footer {
	margin: 15px;
	padding: 15px;
	border-radius: 20px;
	display: inline-block;
	background: rgba(21, 25, 44, 0.7);
}

.shading {
	&:hover {
	background: rgba(21, 25, 44, 0.7);
	border-radius: 0 50px 50px 0;
	}
}



